html { 
  background: url("../assets/images/backcover.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container1 {
	width: 1024px;
}
#container2 {
	width: 1024px;
	margin: 0 auto;
}
header {
	padding:10px;
}

header h1 {
	font-family: 'Alfa Slab One';
	font-size: 36px;
	color: rgba(255, 216, 187, .9);
	margin: 80px 0 30px 10px;

}

h2 {
	font-family: 'Alfa Slab One';
	font-size: 24px;
	color: rgba(98, 88, 147, .9);
}

p {
	font-family: 'Driod Sans';
	font-size: 16px;
	color: rgba(98, 88, 147, .9);
}
nav {
	width: 200px;
	height: 210px;	
	margin: 20px 0 10px 25px;
	text-align: center;	
}

nav a {
	display: block;
	text-decoration: none;
	color: rgba(98, 88, 147, .9);
	font-family: 'Alfa Slab One';
	font-size: 24px;
	padding: 5px;
	width: 150px;

}
nav#fixalign{
	margin-left: 50px;
text-align: center;
}

a:hover {
	color: #492033;
}

aside {
	width: 280px;
	height: 800px;
	background-color: rgba(35, 66, 226, .3);
	float: left;
	text-align: center;

}

#hnavigation {
	margin: 200px 0 0 775px;
}

.rightcolumn {
	width: 720px;
	float: right;
	margin: 40px 0 0 0;
	padding: 10px;
}
#about{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}
#resume{
	padding: 10px;

	margin-bottom: 10px;
}
#hbuttonone {
	border-radius: 20px;
	background-color: rgba(253, 194, 170, .3);
	float: left;
	clear: both;
	margin: 3px;
}
#hbuttontwo {
	border-radius: 20px;
	background-color: rgba(98, 88, 147, .3);
	float: left;
	clear: both;
	margin: 3px;
}

#hbuttonthree {
	border-radius: 20px;
	background-color: rgba(35, 66, 126, .3);
		float: left;
	clear: both;
	margin: 3px;
}
#abuttonone {
	border-radius: 20px;
	background-color: rgba(253, 194, 170, .3);
	float: left;
	clear: both;
	margin: 3px;
}
#abuttontwo {
	border-radius: 20px;
	background-color: rgba(98, 88, 147, .3);
	float: left;
	clear: both;
	margin: 3px;
}

#abuttonthree {
	border-radius: 20px;
	background-color: rgba(35, 66, 126, .3);
	float: left;
	clear: both;
	margin: 3px;
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}