html body {
  height: 100%;
   max-width: 100%;
  overflow-x: hidden;
}

#container2 {
  width: 100%;
}

body {
  font-size: 1em;
  background-color: rgb(252, 252, 255);
}

header {
  padding: 1em;
}

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(60, 12, 110, 0.9);
  margin-top: 3.8em;
}

h2 {
  font-family: 'Bree Serif', serif;
  font-size: 1.65em;
  color: rgba(10, 20, 132, 0.9);
  padding: 20px 0;
}

h3 {
  font-family: 'Bree Serif', serif;
  font-size: 1.35em;
  color: rgba(10, 20, 132, 0.9);
  padding: 20px 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgba(10, 20, 132, 0.9);
    padding: 5px 0;
    font-size: 1.35em;
}

a {
  text-decoration: none;
  color: rgba(10, 20, 132, 0.9);
}

h1 a {
  font-size: 1.75em;
  color: rgba(60, 12, 110, 0.9);
}

.intextbold {
    font-weight: 700;
}

.intextboldindex {
    font-weight: 700;
    color: rgba(60, 12, 110, 0.9);
}

aside {
  position: fixed;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  width: 17em;
  background-color: rgba(205, 225, 255, 0.9);
  float: left;
  text-align: center;
  border-right: 1px rgba(60, 12, 110, 0.9) solid;
  border-left: 8px solid rgba(10, 20, 132, 0.9);
}

.rightcolumn {
  width: 100%;
  float: left;
  padding: 0.3em;
  margin: 4em 0 0 18em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: rgba(75, 75, 75, 0.9);
  list-style-type: none;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

li.lessonslearned {
    list-style-type: disc;
    margin-left: 1em;
    padding: .4em;
    font-weight: 600;
}

p {
  color: rgb(55, 55, 55);
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.rightcolumn p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.35em;
}

nav {
  width: 20%;
  height: 39%;
  margin: 1.3em 0 1.3em 1.5em;
  text-align: center;
}
nav a {
  display: block;
  text-decoration: none;
  color: rgba(10, 20, 132, 0.9);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.3em;
  width: 200px;
}

#fixalign {
  margin-left: 0.4em;
  text-align: center;
}

a:hover {
  color: rgba(82, 77, 120, 0.9);
  text-decoration: underline;
}

.projectscontain#web {
  float: left;
  padding: 0.7em;
  margin: 1em 5em 0 3em;
}

.projectscontain#other {
  float: left;
  padding: 0.7em;
  margin: 1em 20em 0 3em;
}

.about {
  width: 55%;
  margin: .5em 3em;
  padding: 0.2em;
  float: left;
}

#resume {
  margin: 1em 0;
}

img {
  margin-bottom: 1em;
  border-radius: 1em;
  max-width: 320px;
}

.more {
    max-width: 550px;
}

.abuttonone {
  border-radius: 0.25em;
  background-color: rgba(195, 225, 255, 0.9);
  border: 1px rgba(60, 12, 110, 0.9) solid;
  float: left;
  clear: both;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.intro {
    margin: 0 3.8em;
    width: 47em;
}

.box {
  width: 20em;
}

.socialmedia {
  display: inline;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (min-width: 880px) and (max-width: 1100px) {
    .intro{
        width: 30em;
    }
}

@media only screen and (min-width: 710px) and (max-width: 880px) {
    .intro{
        width: 20em;
    }
}


@media only screen and (min-width: 450px) and (max-width: 710px) {
  
aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 118%;
    clear: both;
    height: 14em;
    position: relative;
    border-left: none;
    border-left: none;
    border-bottom: 8px solid rgba(10, 20, 132, 0.9);
  }

header {
    padding: .05px;
}

h1 {
    margin: .725em 3em .1em 3.2em;
    font-size: 1.2em;
  } 

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

nav {
    text-align: left;
}

p{
    font-size: 1.1em;
}

ul {
    list-style-image: none;
  }

li {
    display: inline-block;
}

nav a {
    width: 100px;
    display: inline;
    padding: 1em;
}

a:hover {
    color: rgba(60, 12, 110, 0.9);
  }

#fixalign {
    display: inline;
    margin: 0;
}

.abuttonone {
    width: 12em;
    margin-left: .2em;
    background-color: rgb(195, 225, 255);
  }

.socialmedia {
  margin: 0 30px;
  }

.rightcolumn {
    width: 100%;
    position: relative;
    clear: both;
    padding: 0.3em;
    margin: .15em .25em;
  }

.intro {
    margin: 0 6.3em;
    width: 20em;
}

#web.projectscontain {
    width: 90%;
    margin-top: 1em;
    margin-left: 5.6em;
  }

#other.projectscontain {
    width: 90%;
    margin-top: 1em;
    margin-left: 5.6em;
  }

.about {
    padding: 1em;
    margin: 2.25em 5.45em 0.95em 1.9em;
    font-size: 1em;
  }
#resume {
    margin: 1em 0;
    font-size: 1em;
  }
}

@media only screen and (max-width: 450px) {
  header {
    padding: 0;
  }
  
  aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 118%;
    height: 14em;
    border-left: none;
    overflow: none;
    position: relative;
    border-bottom: 8px solid rgba(10, 20, 132, 0.9);
  }
 
h1 {
    margin: .725em 3em .1em 3.2em;
    font-size: 1.2em;
  } 

h2 {
    font-size: 1.2em;
}

nav {
    text-align: left;
}

li {
    display: inline-block;
}

nav a {
    width: 100px;
    display: inline;
    padding: 1em;
}

p {
    font-size: 110%;
  }

#fixalign {
    display: inline;
    margin: 0;
}  

.abuttonone {
    width: 12em;
    margin: 0 0 0 1.5em;
    padding: 4px;
    font-size: 1em;
  }

.rightcolumn {
    width: 100%;
    margin: 0.5em 0 0 0.5em;
    clear: both;
  }

.socialmedia {
  margin: 2px 30px 0 30px;
  }
  
.intro {
    margin: 0 1.4em;
    padding: 15px 0;
    width: 20em;
}

.more {
    max-width: 350px;
}

#web.projectscontain {
    float: left;
    margin-top: 1em;
    margin-left: .5em;
  }
#other.projectscontain {
    float: left;
    margin-left: 1em;
    margin-top: 2em;
  }
.about {
    padding: 0.1em;
    margin: 1.25em 1.45em 0.95em 1.9em;
    font-size: 1em;
    width: 88%;
  }
#resume {
    padding: 0;
    margin: 1em 5.45em 1em 0;
    font-size: 1em;
  }

}
