html { 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(55, 55, 55, .4);
}
#container {
    height: 100em;
	width: 150em;
	background-color: rgba(33, 33, 33, .5);
}
body {
	font-size: 16px;
	font-family: 'Alfa Slab One';
	position: relative;
}
header {
	padding: .5em 0 .5em 1em;
	text-align: left;
	background-color: rgba(253, 194, 170, .9);
	font-size: 1.5em;
	height: 5.3em;
}
h1 {
	font-family: 'Alfa Slab One';
	color: rgba(0, 151, 127, .9);
	font-size: 1.35em;
}
h2 {
	font-family: 'Alfa Slab One';
	font-size: 1.75em;
	color: rgba(253, 194, 170, 1);
}
header h1 {
	margin: .5em 0 .5em .5em;
	font-size: 1.7em;
	color: rgba(253, 194, 170, .9);
}
header h2 {
	font-size: 1.1em;
	font-size: 1em;
	color: rgba(253, 194, 170, .9);
	margin: .3em 0 .5em .9em;
}
nav {
	margin: 2em 0 .5em 1.95em;
	display: inline-block;
}
a {
	text-decoration: none;
}
nav a {
	font-family: 'Alfa Slab One';
	display: inline-block;
	color: rgba(0, 151, 127, .9);
	font-size: 1.8em;
	padding: .3em;
	width: 6em;
	text-align: center;
}
p {
	font-family: 'Droid Sans';
	font-size: 1.3em;
	color: rgba(253, 194, 170, .9);
	display: inline;
	color: rgba(98, 88, 147, .9);
    font-size: 1em;
}
a:hover {
	color: rgba(0, 227, 192, 1);
}
.hbuttonone {
	border-radius: 20px;
    background-color: rgba(141, 82, 63, .95);
	float: left;
	clear: both;
	margin: 3px;
}
footer {
	width: 3em;
	margin: 1em 0 0 2.5em;
}
.rightcolumn {
	width: 100%;
	float: left;
	padding: .3em;
	margin: 4em 0 0 18em;
}
.rightcolumn h1 {
	padding:0 0 2em 1em;
	.rightcolumn p {
	font-family: 'Droid Sans';
	line-height: 1.35em;
}
p>a {
	color: rgba(141, 82, 63, .8);
}

nav {
	width: 20%;
	height: 25%;	
	margin: 1.3em 0 1.3em 1.5em;
	text-align: center;	
}

h1 a {
	font-size: 1.75em;
        color: rgba(0, 151, 127, .9);
}
nav#fixalign{
	margin-left: .4em;
	text-align: center;
}

a:hover {
        color: rgba(0, 151, 127, .9);
}
.projectscontain#web {
	float: left;
	padding: .7em;
	margin: 1em 5em 0 3em;
}
.projectscontain#other {
	float: left;
	padding: .7em;
	margin: 1em 20em 0 3em;
}
#about{
	padding: .2em;
	margin: 3.25em 22em 0 .75em;
	font-size: 1em;
	line-height: 1.4em;
}
#resume{
	margin: 1em 0;
}
#web {
	margin-bottom: 1.95em;
}

#analogue {
	margin-bottom: 1.95em;
}

#misc {
	margin-bottom: 1.95em;
}
img {
	margin-bottom: 1.5em;
	border-radius: 1em;
}
.abuttonone {
	border-radius: 1.1em;
	background-color: rgba(182, 177, 200, .8);
	float: left;
	clear: both;
	margin: 3px;
}
.abuttontwo {
	border-radius: 1.1em;
	background-color: rgba(182, 177, 200, .8);
	float: left;
	clear: both;
	margin: 3px;
}
figure {
	margin-bottom: 1em;
}
figcaption{
	width: 20em;
}
figcaption>h1 {
	margin-bottom: -1.25em;
	margin-left: -1em;
}
.socialmedia {
	display: inline;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
}
@media only screen and (min-width: 1202px) and (max-width: 1680px) {
body {
	background-color: rgba(35, 66, 126, .5);
}
header {
	width: 100%;
	background-color: rgba(45, 45, 45, .6);
	height: 8em;
	}
header h2 {
	font-size: 1.4em;
	letter-spacing: .1em;
	margin-left: 1.3em;
	}
nav {
	margin: 3em 0 0 3em;
	height: 8em;
	}
nav a {
	color: rgba(255, 216, 187, .8);
}
header h1 {
	font-size: 3.2em;
}
.hbuttonone {
	background-color: rgba(98, 88, 147, .78);
	letter-spacing: .1em;
	}
}
@media only screen and (min-width: 951px) and (max-width: 1201px) {
body{	
	background-color: rgba(33, 33, 33, .3);
	}
#container {
	width: 90%;
}
header {
	width: 130%;
	}
header h1 {
	font-size: 3em;
	}
header h2 {
	font-size: 150%;
	letter-spacing: .15em;
	}
nav {
	width: 100%;
	height: 4em;
	margin: 1em 0 0 1em;
	padding: 9px;
	}
}
@media only screen and (min-width: 602px) and (max-width: 950px) {
body {
	background-color: rgba(35, 66, 126, .5);
}
#container {
	width: 90%;
}
header {
	width: 190%;
	}
header h1 {
	font-size: 210%;
	color: rgba(0, 151, 127, .9);
	margin-left: 1em;
	}
header h2 {
	font-size: 120%;
	color: rgba(0, 151, 127, .9);
	letter-spacing: .05em;
	margin-left: 2em;
	}
nav {
	margin: 1em 0 0 1em;
	}
nav a {
	color: rgba(35, 66, 126, .7);
	}
.hbuttonone {
	background-color: rgba(253, 194, 170, .8);
	}
	aside {
	position: relative;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	width: 108%;
	clear: both;
	height: 39%;
	border-left: none;
	background-color: rgba(182, 177, 200, .8)
}
h1 a {
	padding: .2em;
}
nav {
	width: 100%;
	display: block;
	text-align: center;
}
nav a {
	font-size: 1.5em; 
	width: 12em;
	color: rgba(0, 151, 127, .9);
}
a:hover{
	color: rgba(0, 151, 127, .9);
}
.abuttonone {
	width: 11.95em;
	text-align: center; 
	background-color: rgba(141, 82, 63, .8);
	margin-top: .2em;
	margin-left: 12.9em;
}
.abuttontwo {
	width: 11.95em;
	text-align: center; 
	background-color: rgba(182, 177, 200, .8);
	margin-top: .2em;
	margin-left: 12.9em;
}
.rightcolumn {
	width: 100%;
	position: relative;
	clear: both;
	padding: .3em;
	margin: .3em 1em 0 0;
}
#web.projectscontain {
	width: 80%;
	margin-top: 1em;
	margin-left: 9.6em;
}
#other.projectscontain {
	width: 80%;
	margin-top: 1em;
	margin-left: 9.6em;
}

#about {
	padding: 1em;
	margin: 2.25em 5.45em .95em 1.9em;
	font-size: 1em;
}
#resume{
	margin: 1em 0;
	font-size: 1em;
}
}
@media only screen and (max-width: 450px) {

h1 {
	font-size: 2em;
}
header{
	padding: 0;
}
	
nav {
	position: relative;
	display: block;
}
nav a {
	text-align: left;
}
h1 a {
	color: rgba(141, 82, 63, .8);
}
a:hover{
	color: rgba(182, 177, 200, .8);
}
.abuttonone {
	width: 9em;
	background-color: rgba(253, 194, 170, .9);
	font-size: .8em;
	margin-top: .1em;
	margin: 0 0 0 2.5em;
	padding: 0 .5em;
}
.abuttontwo {
	width: 9em;
	background-color: rgba(253, 194, 170, .9);
	font-size: .8em;
	margin-top: .2em;
	margin: 1em 0 1em 2.5em;
	padding: 0 .5em;
}
.rightcolumn {
	width: 100%;
	margin: .5em 0 0 .5em;
	clear: both;
	padding: .1em;
}
#web.projectscontain {
	float: left;
	margin-top: 19em;
	margin-left: 1em;
}
#other.projectscontain {
	float: left;
	margin-left: 1em;
	margin-top: 2em;
}
#about{
	padding: .1em;
	margin: 16.25em 1.45em .95em 1.9em;
	font-size: 1em;
}
#resume{
	padding: 0;
	margin: 1em 5.45em 1em 0;
	font-size: 1em;
}
p {
	font-size: 135%;
}
figcaption h1 {
	font-size: 1.5em;
}
}
@media only screen and (min-width: 300px) and (max-width: 602px) {
html {
	background: url("../assets/images/cover.jpg") no-repeat center center fixed; 
	height: 100%;
}
body {
	background-color: rgba(98, 88, 147, .8);
	height: 100em;
}
#container {
	height: 130%;
}
header {
	width: 80%;
	height: 3.5em;
	padding: .5em 0;
}
header h1 {
	font-size: 145%;
	padding: .5em;
	color: rgba(0, 151, 127, .9);
}
header h2 {
	font-size: 120%;
	color: rgba(0, 151, 127, .9);
	}
nav {
	width: 50%;
	height: 200%;
	margin: 1.5em 0 0 1.25em;
	}
}
