html body {
	height: 100%;
	width: 100%;
}
#container2 {
	width: 100%;
}
body {
	font-size: 1em;
}
header {
	padding:1em;
}
h1 {
	font-family: 'Alfa Slab One';
	font-size: 2.5em;
	color: rgba(35, 66, 126, .9);
}
a {
	text-decoration: none;
}
h1 a {
	text-decoration: none;
	color: rgba(255, 216, 187, 1);
}
h2 {
	font-family: 'Alfa Slab One';
	font-size: 1.75em;
	color: rgba(98, 88, 147, .9);
}
aside {
	position: absolute;  border-top: 8px solid #bb3388;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
	width: 17em;
	background-color: rgba(35, 66, 126, .9);
	float: left;
	text-align: center;
	border-left: 8px solid rgba(253, 194, 170, 1);
}
aside h1 {
	margin-top: 3em;
}
.rightcolumn {
width: 100%;
	float: left;
	clear: both;
	padding: .3em;
	margin: 4em 0 0 0;
}
.rightcolumn h1 {
	padding:0 0 2em 1em;
}
p {
	color: rgba(98, 88, 147, .9);
}
.rightcolumn p {
	font-family: 'Droid Sans';
}
p>a {
	text-decoration: none;
color: rgba(141, 82, 63, .8);
}
h2>a {
color: rgba(141, 82, 63, .8);
}
nav {
	width: 20%;
	height: 25%;	
	margin: 1.3em 0 1.3em 1.5em;
	text-align: center;	
}
nav a {
	display: block;
	text-decoration: none;   
	color: rgba(35, 66, 126, .9);
	font-family: 'Alfa Slab One';
	font-size: 1.8em;
	padding: .3em;
	width: 200px;
}
nav#fixalign{
	margin-left: .4em;
	text-align: center;
}

a:hover {
	color: rgba(98, 88, 147, 1);
}

.projectscontain {
	width: 50%;
	float: left;
	padding: .7em;
	margin-top: .3em;
	margin-right: 8em;
}
.boxdisplay {
	width: 15em;
	float: left;
	display: inline-block;
	border: 2px solid #502930;
	margin: 0 0 1em 17.3em;
	border-radius: 30px;
	padding: 10px;
}
#about{
	padding: 1em;
	margin: 3.25em 10.45em .95em 20.9em;
	font-size: 1em;
}
#resume{
	padding: .95em;
	margin: 0 0 0 20.9em;
}
#web {
	margin-bottom: 1.95em;
}

#analogue {
	margin-bottom: 1.95em;
}

#misc {
	margin-bottom: 1.95em;
}

#abuttonone {
	border-radius: 1.1em;
	background-color: rgba(141, 82, 63, .8);
	float: left;
	clear: both;
	margin: 3px;
}
#abuttontwo {
	border-radius: 1.1em;
	background-color: rgba(182, 177, 200, .8);
	float: left;
	clear: both;
	margin: 3px;
}

#abuttonthree {
	border-radius: 1.1em;
	background-color: rgba(255, 216, 187, .8);
	float: left;
	clear: both;
	margin: 3px;
}
footer>p {
	font-family: 'Droid Sans';
	display: inline;
}
.socialmedia {
	display: inline;
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

@media only screen and (min-width: 550px) and (max-width: 780px) {

aside {
	position: relative;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	width: 108%;
	clear: both;
	height: 39%;
	border-left: none;

}
aside h1 {
	margin: .9em 0 0 1em;
	text-align: left; 
	font-size: 3em;
}
nav {
	display: block;

}
#abuttonone {
	width: 15em;
	border-radius: 1.1em;
	background-color: rgba(141, 82, 63, .8);
	margin-left: 4em;

}
#abuttontwo {
	width: 15em;
	border-radius: 1.1em;
	background-color: rgba(182, 177, 200, .8);
	margin-left: 4em;
}
#abuttonthree {
	width: 15em;
	border-radius: 1.1em;
	background-color: rgba(255, 216, 187, .8);
	margin-left: 4em;
}
.rightcolumn {
	width: 100%;
	float: left;
	clear: both;
	position: fixed;
	padding: .3em;
	margin: 20em 3em 0 0;
}
#web.projectscontain {
	margin-top: 3em;
}
#analogue.projectscontain {
	margin-top: -5em;
}
.boxdisplay {
	width: 15em;
	margin-left: 8.3em;
}
#about {
	padding: 1em;
	margin: 2.25em 5.45em .95em 1.9em;
	font-size: 1em;
}
#resume{
	padding: 1em;
	margin: 1.25em 5.45em .95em 1.9em;
	font-size: 1em;
}
footer {
	width: 19em;
	margin: 2em 0 0 3.2em;
	background-color: rgba(30, 30, 30, .5);
	padding: .5em;
	border-radius: 1em;
}
footer>p {
	margin-left: .7em;
}
}
@media only screen and (min-width: 401px) and (max-width: 550px) {

aside {
	position: absolute;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	width: 108%;
	height: 35%;
	border-left: none;
}
aside h1 {
	margin: .35em 0 0 1.25em;
	text-align: left; 
	font-size: 350%;
}
nav {
	display: block;
}
#abuttonone {
	width: 15em;
	border-radius: 1.1em;
	background-color: rgba(141, 82, 63, .8);
	margin-left: 5.75em;
}
#abuttontwo {
	width: 15em;
	border-radius: 1.1em;
	background-color: rgba(182, 177, 200, .8);
	margin-left: 5.75em;
}
#abuttonthree {
	width: 15em;
	border-radius: 1.1em;
	background-color: rgba(255, 216, 187, .8);
	margin-left: 5.75em;
}
.rightcolumn {
	width: 100%;
	float: left;
	clear: both;
	padding: .3em;
	margin: 21em 0 0 0;
}
#web.projectscontain {
	margin-top: 3em;
}
#analogue.projectscontain {
	margin-top: -2em;
}
.boxdisplay {
	width: 15em;
	float: left;
	margin-left: 4.3em;
}
#about {
	padding: .2em;
	margin: 0 .45em .95em 1.9em;
	font-size: 1em;
}
#resume{
	padding: 1em;
	margin: 1.25em 5.45em .95em 1.9em;
	font-size: 1em;
}
footer {
	width: 19em;
	margin: 2em 0 0 3.2em;
	background-color: rgba(30, 30, 30, .5);
	padding: .5em;
	border-radius: 1em;
}
footer>p {
	margin-left: .7em;
}
}
@media only screen and (max-width: 401px) {

h1 {
	font-size: 2em;
}
aside {
	position: absolute;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	width: 28em;
	height: 16em;
	border-left: none;
	overflow: auto;
}
aside h1 {
	margin: .5em 0 0 .25em;
	text-align: left; 
	font-size: 3em;
	margin-left: .8em;
}
nav {
	display: block;
}
nav a {
	font-size: 2em;
	width: 5.5em;
}
#abuttonone {
	width: 12em;
	border-radius: 1.1em;
	background-color: rgba(141, 82, 63, .8);
	margin-left: 4em;
}
#abuttontwo {
	width: 12em;
	border-radius: 1.1em;
	background-color: rgba(182, 177, 200, .8);
	margin-left: 4em;
}
#abuttonthree {
	width: 12em;
	border-radius: 1.1em;
	background-color: rgba(255, 216, 187, .8);
	margin-left: 4em;
}
.rightcolumn {
	width: 100%;
	margin: .5em 0 0 .5em;
	clear: both;
	padding: .1em;
}
.projectscontain {
	margin-top: 3em;
}
#web.projectscontain {
	margin-top: 17em;
	float: left;
	margin-left: 2em;
}
#analogue.projectscontain {
	float: left;
	margin-left: 2em;
	margin-top: -4em;
}
#about{
	padding: .1em;
	margin: 17.25em 1.45em .95em 1.9em;
	font-size: 1em;
}
#resume{
	padding: 1em;
	margin: 1.25em 5.45em .95em 1.9em;
	font-size: 1em;
}
.boxdisplay {
	width: 15em;
	float: left;
	display: inline-block;
	margin: 4em 0 5px 14.5px;
	border-radius: 20px;
	padding: 1em;
}
p {
	font-size: 93%;
}
footer {
	width: 19em;
	margin: 2em 0 0 3.2em;
	background-color: rgba(30, 30, 30, .5);
	padding: .5em;
	border-radius: 1em;
}
footer>p {
	margin-left: .7em;
}
}

