html { 
  background: url("../assets/images/backcover.jpg") no-repeat center center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(55, 55, 55, .4);
}
#container {
    height: 200em;
	width: 187em;
}
body {
	font-size: 16px;
	font-family: 'Alfa Slab One';
	position: relative;
}
header {
	padding: .5em 0 .5em 1em;
	text-align: left;
	background-color: rgba(55, 55, 55, .4);
}
header h1 {
	font-family: 'Alfa Slab One';
	color: rgba(255, 216, 187, .9);
	margin: .5em 0 .5em .5em;
}
header h2 {
	font-family: 'Droid Sans';
	font-size: 1em;
	color: rgba(255, 216, 187, .9);
	margin: .3em 0 .5em .95em;
}
nav {
	margin: 2em 0 .5em 1.95em;
	display: inline-block;
}
nav a {
	font-family: 'Alfa Slab One';
	display: inline-block;
	text-decoration: none;
	color: rgba(98, 88, 147, .9);
	font-size: 1.5em;
	padding: .3em;
	width: 6em;
	text-align: center;
}
p {
	font-family: 'Droid Sans';
	font-size: 1.3em;
	color: rgba(253, 194, 170, .9);
	display: inline;
}

a:hover {
	color: #492033;
}
#hbuttonone {
	border-radius: 20px;
	background-color: rgba(253, 194, 170, .8);
	float: left;
	clear: both;
	margin: 3px;
}
#hbuttontwo {
	border-radius: 20px;
	background-color: rgba(253, 194, 170, .8);
	float: left;
	clear: both;
	margin: 3px;
}

#hbuttonthree {
	border-radius: 20px;
	background-color: rgba(253, 194, 170, .8);
	float: left;
	clear: both;
	margin: 3px;
}
@media only screen and (min-width: 1681px) {

#container {
	background-color: rgba(33, 33, 33, .5);
	}

header {
		font-size: 1.5em;
		background-color: (45, 45, 45, .6);
		height: 5.3em;
	}

header h1 {
		font-size: 1.7em;
		margin-right: 24em;
	}
header h2 {
		font-size: 1.1em;
		margin-right: 37.75em;
	}
nav a {
color: rgba(98, 88, 147, .78);
}
}

@media only screen and (min-width: 1275px) and (max-width: 1680px) {
body {
	background-color: rgba(35, 66, 126, .5);
}
header {
	width: 100%;
	background-color: (45, 45, 45, .6);
	height: 8em;
	}
header h1 {
	font-size: 2.5em;
	}
header h2 {
	font-size: 1.1em;
	}
nav {
	margin: 1em 0 0 2em;
	height: 20em;
	}
nav a {
	padding: .5em;
	color: rgba(255, 216, 187, .8);
}
#hbuttonone {
	background-color: rgba(98, 88, 147, .78);
	letter-spacing: .2em;
	}
#hbuttontwo {
	background-color: rgba(98, 88, 147, .78);
		letter-spacing: .2em;
	}
#hbuttonthree {
	background-color: rgba(98, 88, 147, .78);
	letter-spacing: .2em;
	}
}

@media only screen and (min-width: 660px) and (max-width: 1274.999px) {

#container {
	background-color: rgba(35, 66, 126, .7);
}
header {
	width: 100%;
	}
header h1 {
	font-size: 2em;
	color: rgba(182, 177, 200, .8);
	}
header h2 {
	font-size: 1em;
	color: rgba(182, 177, 200, .8);
	letter-spacing: .3em;
	}
nav {
	width: 100%;
	height: 4em;
	margin: 3em 0 0 2em;
	padding: 9px;
	}
}
@media only screen and (max-width: 659px) and (min-width: 451px) {

header {
	width: 100%;
	font-size: 1.01em;
	margin: 0 1.95em 0 0;
	padding: .7em 1.8em .3em 0;
	text-decoration: left;
	}
header h1 {
		font-size: 2em;
		color: rgba(182, 177, 200, .8);
	}
header h2 {
		font-size: 1em;
		color: rgba(182, 177, 200, .8);
		letter-spacing: .3em;
	}
nav {
	margin: 2em 0 0 4.5em;
	}
nav a {
	color: rgba(35, 66, 126, .7);
	}

#hbuttonone {
	background-color: (253, 194, 170, .8);
	}
#hbuttontwo {
	background-color: rgba(182, 177, 200, .8);
	}
#hbuttonthree {
	background-color: rgba(255, 216, 187, .9);
	}
}
@media only screen and (max-width: 450px) {
html {
	background: url("../assets/images/backcovermobile.jpg") no-repeat center center fixed; 
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background-color: rgba(98, 88, 147, .8);
	overflow: scroll;
}
#container {
	height: 50%;
	width: 93%;
}
header {
	width: 80%;
	height: 40%;
	margin: 0 0 0 2.1em;
	padding: 1em 1em .3em 0;
	text-align: center;
}
header h1 {
	font-size: 200%;
	background-color: rgba(35, 66, 126, .7);
	padding: .5em;
	color: rgba(253, 194, 170, .8);
	text-align: center;
}
header h2 {
	font-size: 110%;
	color: rgba(253, 194, 170, .8);
	}
nav {
	width: 50%;
	margin: 3.8em 0 0 6.3em;
	}
}